body{
    background-color: rgba(0,0,0,0.03);
}
h1{
    text-align: center;
}
.search-container2 {  
    position: relative;  
    width: 250px;  
    margin: 20px auto; /* 居中显示 */  
}  
.search-input {  
    width: 100%;  
    padding: 5px 10px;  
    border: 1px solid #030cc0;  
    border-radius: 5px;  
    box-sizing: border-box; /* 确保padding不会增加元素的总宽度 */  
}  
.search-button {  
    position: absolute;  
    right: 0;  
    top: 0;  
    bottom: 0;  
    width: 50px; /* 调整按钮宽度 */  
    background-color: #030cc0; /* 设置按钮背景颜色 */  
    color: white;  
    border: none;  
    border-radius: 0 5px 5px 0; /* 圆角与搜索框保持一致 */  
    cursor: pointer;  
}  
.search-button:hover {  
    background-color: #5d64e6; /* 鼠标悬停时的背景颜色 */  
}  

.box{
    position:absolute;
    width: 80%;
    height: 60%;
    top: 30%;
    left: 10%;
    border: 1px solid #ddd;/*边框*/
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1),/*下边阴影*/
    4px 0 4px rgba(0, 0, 0, 0.1); /* 右边阴影 */
    padding: 20px;/*内边距*/
    border-radius: 15px;/*圆角设置*/
    background-color: #fff;
}

.button{
    width: 8%;
    height: 7%;
    background-color: #030cc0;
    border-radius: 10px;/*圆角设置*/
    color: #fff;
}

#button2{
    position: absolute;
    left: 3%;
    top: 3%;
}

.button:hover {  
    background-color: #5d64e6; /* 鼠标悬停时的背景颜色 */  
}  

table {
    position: absolute;
    top: 15%;
    left: 2%;
    width: 90%;
    border-collapse: collapse;
    table-layout: fixed;
}
th, td {
    border: 1px solid #e6e6e6;
    height: 40px;
    padding: 8px;
    text-align: left;
    background-color: white;
}
.list1{
    width: 30%;
}
.list2{
    width: 30%;
}
.list3{
    width: 25%;
}
.list4{
    width: 15%;
}