    .card2 {
        border: 1px solid #ddd;/*边框*/
        border-radius: 0px;/*圆角设置*/
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1),/*下边阴影*/
        4px 0 4px rgba(0, 0, 0, 0.1); /* 右边阴影 */
        padding: 20px;/*内边距*/
        background-color: #fff;
        display: flex;
        transition: all 0.5s ease; /* 添加过渡效果 */
        width:400px;/*卡片宽度,记得改动！！！！！！！！！！！！！！！*/
        height:300px;/*卡片高度,记得改动！*!*/
        /* 使用 Flexbox 布局 */
    }
    .card2:hover {
        transform: scale(1.005); /* 略微放大 */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 悬停时阴影加深 */
    }
    .avatar2 {
        display: flex;/* 弹性布局 */
        flex-direction: row;/* 子项排列方向*/
        align-items: center;/* 子项垂直对齐方式*/
        gap: 15%;/* 子项之间的间距 */
    }

    /* 头像样式 */
    .avatar2 img {
        width: 25%;
        /* 头像宽度 */
        height: 25%;
        /* 头像高度 */
        border-radius: 50%;
        /* 圆形头像 */
        isolation: isolate;
        /* 图片不隔离 */
    }
    .cardContainer {
        display: flex;   /* 弹性布局 */
        flex-direction: row; /* 水平排列子项 */
        flex-wrap: wrap; /* 允许子项换行 */
        gap: 3%; /* 设置子项之间的间隔 */
        overflow: auto;
    }
    /*.darkmode--activated .cardContainer {
        filter: invert(1);
    }*/
    .card2 .title {
        font-size: 20px;
        color: #EE4141;
        margin-top: 1%;
        white-space: nowrap;
        /*强制不换行*/
    }
    .card2 table {
        position: absolute;
        top: 20%;
        left: 5%;
        table-layout: fixed;
        border: none;
        width: 95%;
        border-collapse: collapse;/* 移除表格边框 */
    }
    .card2 th, td {
        border: 1px solid #e6e6e6;
        height: 40px;
        padding: 8px;
        text-align: left;
        /*background-color: white;*/
    }
    .card2 td, th{
        border: none;
        padding: 4px;
        text-align: left;
        font-size: 15px;
    }
    .card2 th{
        background-color: #f2f2f2;
        height: 5px;
    }
    .card2 tr {
        border: none; /* 移除单元格边框 */
        width: 90%;
        /*background-color: #f8f8f8; /* 添加斑马纹 */
    }

    .index {
        margin-left: 300px;
        margin-top: 0px;
    }

    .main_label {
        background-color: #ffffff;
        height: 35px;
        line-height: 35px;
        margin-bottom: 24px;
        border-left: 2px solid #409eff;
        padding-left: 10px;
        /*文字离左边的距离*/
    }
    .test{
        display: flex   /* 弹性布局 */;
        flex-direction: row; /* 水平排列子项 */
        flex-wrap: wrap; /* 允许子项换行 */
        gap: 15px; /* 设置子项之间的间隔 */
    }
    .container {
        display: flex;
        width: 220px;
        background: linear-gradient(to right, #ff7e5f, #feb47b);
        padding: 0 20px;
        box-sizing: border-box;
        /*padding不会撑大盒子*/
        position: relative; /* 为伪元素定位 */
        height: 120px;
        border-radius: 7%;
    }
    .container:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 15%; /* 底部高度为容器的15% */
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)); /* 从上到下渐变，底部颜色更淡 */
    }
    .details_1{
        font-size: 14px;
        color: #666; /* 淡色文字 */
        position: absolute;
        bottom: 0px; /* 距离底部10px */
        left: 20px; /* 距离左侧20px */
    }
    .details_2{
        position: absolute;
        bottom: 0px; /* 距离底部10px */
        right: 20px;
        width: 20px;
        height: 20px;
    }
    .title {
        font-size: 20px;
        color: #ffffff;
        margin-top: 20px;
        white-space: nowrap;
        /*!*强制不换行*!*/
    }
    .darkmode--activated .title {
        color: #fff;
    }

    .count {
        font-size: 30px;
        color: white;
        white-space: nowrap;
        margin-top: 55px;
        margin-left: -70px;
    }

    .image {
        flex-shrink: 0;
        width: 80px;
        /* 图片宽度 */
        height: 80px;
        /* 图片高度 */
        margin-right: 20px;
        margin-top: 20px;
        isolation: isolate;
        /* 图片不隔离 */
    }
    .notification {
        border: 1px solid #ccc;
        border-left-color: transparent;
        border-right-color: transparent;
        /*padding: 100px;*/
        width: 90%;
        margin-top: 10%;
    }
    .notification-item {
        display: flex;
        font-family: "黑体", serif;
        font-size: 14px;
        align-items: center;
        margin-bottom: 5px;
    }
    .notification-item img {
        width: 20px;
        height: 20px;
        margin-right: 5px;
    }
    .notification-item:after{
        content: "6分钟前";
        display: flex;
        font-family: "黑体", serif;
        font-size: 14px;
        align-items: end;
        margin-left: 15%;
        color: #aeacac;
    }
    .notification-item-divider {
        border-top: 1px solid #ccc;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .darkmode--activated .card2 {
        background-color: #222;
        color: #fff;
    }
    .darkmode--activated .avatar2 img {
        filter: invert(1);
    }
    .darkmode--activated .title {
        color: #fff;
    }
    .darkmode--activated .count {
        color: #fff;
    }
    .darkmode--activated .image {
        filter: invert(1);
    }
    .darkmode--activated .notification-item img {
        filter: invert(1);
    }
