.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: #1f2328;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #d8d8d8;
}
.navbar-left { display: flex; align-items: center; }
.navbar-left .brand-logo {
    width: 120px;
    background-color: transparent;
    margin-left: 20px;
    
}
.darkmode--activated .navbar-left img {
    filter: invert(1);
}

.navbar-right {
    display: flex; align-items: center;
}
.notifications {
    background-color: transparent;
    border: transparent;
    margin-right: 20px;
    margin-top:3px;
}
.notifications img {
    width: 22px;
}
.darkmode--activated .notifications img {
    filter: invert(1);
}
/* .notifications:hover{
    background-color: #d8d8d8;
} */
.night-mode {
    margin-right: 10px;
    background-color: transparent;
    border: transparent;
    width:20px;
}
.darkmode--activated .night-mode {
    filter: invert(1);
}
.user-info {
    margin-right: 10px;
    text-align: right;
    font-family: '黑体', serif; /* 使用自定义字体 */
    font-style: italic; /* 斜体 */
}
.user-info div { margin: 2px 0; }
.user-avatar{
    margin-right: 10px;
    width: 40px; /* 设置最大宽度 */
    height: 40px; /* 设置最大高度 */
    isolation: isolate;
}
.logout {
    margin-left: 10px;
    max-width: 25px; /* 设置最大宽度 */
    max-height: 30px; /* 设置最大高度 */
    background-color: aliceblue;
}
.darkmode--activated .logout {
    filter: invert(1);
}
@font-face {
    font-family: '用户名字体';
    src: url('../font/字魅行楷.ttf') format('truetype');
}
.dark{
    filter: invert(1);
}
.not-change{}