.zebra-table {
    max-width: 400px;
    width:400px;
    max-height: 270px;
    border-collapse: collapse;/*合并边框*/
}

.zebra-table th,
.zebra-table td {
    border: 1px solid #ddd;
    text-align: center;
    /* 居中文字 */
}

.zebra-table thead tr th {
    position: sticky;
    top: 0; /* 表头将固定在顶部 */
    background-color: #f0f0f0; /* 设置表头的背景颜色 */
    z-index: 10; /* 确保表头在滚动时保持在其他内容的上方 */
}
.zebra-table tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.zebra-table tbody tr:hover {
    background-color: #ddd;
}
.scrollable-table {
max-width: 400px; /* 设置表格容器的最大宽度 */
max-height: 270px; /* 设置表格容器的最大高度 */
overflow-y: auto;
    overflow-x: hidden; /* 隐藏水平滚动条 */
}