{{template "base" .}} {{define "content"}}
    <tr>
        <td class="wrapper">
            <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                        <p>👋&nbsp; 你好, 欢迎注册Daily English~ </p>
                        <p>💡&nbsp;
                           感谢您注册账户，很高兴您可以加入我们的大家庭！为了确保您可以正常使用我们的产品，请在注册页中输入以下验证码激活您的账户。</p>
                        <p>📬&nbsp; 您的验证码为：<strong>{{.VCode}}</strong></p>
                        <p>🕹&nbsp; 激活后，您将可以正常享受Daily English提供的各种服务。</p>
                        <p>
                            如果您有任何疑问，请随时联系我们：<a href="mailto:czg2012@qq.com"></a>
                        </p>
                        <p>😉&nbsp; 我们期待着您的到来！</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

{{end}}
